

/* li {
    border: 1px;
    background-color: rgb(231, 251, 255);
    color: black;
    padding: 5px;
    width: fit-content;
    transition: background-color 0.5s, color 0.5s
} */

/* li:hover {
    transform: scale(1.1);
    border: 1px solid rgb(169, 213, 222);
} */

h3 {
   text-align: center;
}